{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        #container{
width: 100%;
  max-width: 960px;
  border: 2px solid red;
  margin: 20px auto;
  
}
.team{
  text-align: center;
  text-decoration:underline;
  font-size: 30px;
}

.box {
  display: inline-block;
  padding: 10px 60px;
  
}

.box img {
  padding: 0 2px;
}
@media only screen and (max-width: 950px) {
  #container {
    margin: 10px 20px;
    width:95%;
  } 
  .box {
 
  padding: 10px 20px;
  
}
  
}
@media only screen and (max-width: 850px) {
  #container {
    margin: 10px 90px;
    width:58%;
  } 
  .box {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 800px) {
  #container {
    margin: 10px 50px;
    width:70%;
  } 
  .box {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 750px) {
  #container {
    margin: 10px 90px;
    width:75%;
  } 
  .box {
    padding: 10px 50px;
  }
}
    </style>


    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About us</span></p>
            <h1 class="mb-0 bread">About us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/about.jpg' %});">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Welcome to CovAid</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>A complete app to combat COVID 19 and support the people affected, through logistics, healthcare, advice and mental support. </p>
							
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
				</div>
			</div>
        </section>
        


		<!-- <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->







		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_3.jpg' %});">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10000">0</strong>
		                <span>Users</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Branches</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partner</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Awards</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>


    
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div id="container">
            <h1 class="team">Our Team </h1>
          <div class="box">
            
                <img src="https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif">
            <img src="https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif">
            <img src="https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif">
            <img src="https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif">
          </div>
          </div>
            
    </section>

    <h2>Features:</h2>
    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over &#8377;100</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Doctor Support</h3>
                <span>Expert consultation</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">AI Analysis</h3>
                <span>X-ray/ct chest images</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
{% endblock %}
